h1 {
	color: #0000FF;
	text-align: center;
	font-size: 56px;
	font: times;
	padding: 100px;
}

p {
	color: #559922;
	text-align: center;
	font-size: 40px;
	font: times;
	padding: 10px;
}